.calculator {
  width: 660px;
  margin: 100px auto;

  &-screen {
    position: relative;
    text-align: right;
    color: white;
    background: #1c191c;
    font-size: 50px;
    height: 100px;
  }

  &-screen-result {
  position: absolute;    
  right: 30px;
  top: 20px;
  }

  .grid-first-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 4px;
  }
  .grid-second-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
  }

  .grid-third-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
  }
  .grid-fourth-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
  }
  .grid-last-row {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 4px;
  }
}
